In [1]:
import pandas as pd

In [7]:
data = pd.read_csv('Project 1 - Sales Data Analysis\Dataset MeriSKILL.zip')

In [35]:
df = data.copy()

In [36]:
df.drop(columns='Unnamed: 0',axis=1,inplace=True)

In [37]:
df.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address', 'Month', 'Sales', 'City', 'Hour'],
      dtype='object')

#### About columns

- Order ID: This column represents a unique identifier for each order. It can be used to track individual orders and analyze order-related metrics such as order frequency, order size, or customer loyalty.

- Product: This column contains information about the products sold. It can be used to analyze product-specific metrics such as sales by product, product popularity, or product performance over time.

- Quantity Ordered: This column indicates the quantity of each product ordered in a particular transaction. It can be used to analyze sales volume, identify popular products, or calculate average order size.

- Price Each: This column represents the price of each product in a transaction. It can be used to calculate total sales, average order value, or analyze pricing strategies.

- Order Date: This column captures the date and time of each order. It can be used to analyze sales trends over time, identify seasonality patterns, or track performance by specific time periods (e.g., monthly, quarterly).
 
- Purchase Address: This column contains the address where each order was placed. It can be used to analyze sales by location, identify high-performing regions, or understand customer demographics.

- Month: This column represents the month in which each order was placed. It can be used to analyze monthly sales trends, compare performance across different months, or identify seasonal patterns.

- Sales: This column represents the total sales amount for each order. It is calculated by multiplying the Quantity Ordered by the Price Each. It can be used as a primary KPI to analyze overall sales performance, track revenue growth, or compare sales across different products or regions.

- City: This column captures the city where each order was placed. It can be used to analyze sales by city, identify top-performing cities, or target specific geographical areas for marketing campaigns.

- Hour: This column indicates the hour of the day when each order was placed. It can be used to analyze sales patterns throughout the day, identify peak hours, or optimize staffing and inventory management.


Based on these columns, some potential KPIs to consider for analysis could include total sales, average order value, sales by product category, sales by city or region, sales trends over time, customer segmentation based on purchase behavior, or conversion rates.

#### Important KPI's

- Total Sales: This KPI represents the overall revenue generated from sales. It provides an overview of the business's performance and can be used to track revenue growth over time.

- Sales by Time Period: Analyzing sales trends over different time periods (e.g., monthly, quarterly, yearly) helps identify seasonality patterns, understand sales fluctuations, and make informed decisions about resource allocation and inventory management.

- Top-Selling Products: Identifying the best-selling products in terms of quantity sold or revenue generated can help focus marketing efforts, optimize inventory levels, and identify opportunities for cross-selling or upselling.

- Profit Margins: Calculating profit margins by product or product category provides insights into the profitability of different items. This information can guide pricing strategies, cost management, and product portfolio decisions.

- Customer Acquisition and Retention: Tracking the number of new customers acquired and the rate of customer retention helps evaluate the effectiveness of marketing campaigns, customer loyalty programs, and customer satisfaction initiatives.

- Average Order Value: This KPI measures the average amount spent per order. It helps understand customer purchasing behavior, identify opportunities for upselling or bundling products, and evaluate the effectiveness of pricing strategies.

- Sales by Region or Market Segment: Analyzing sales performance by region or market segment provides insights into geographical or demographic preferences, enabling targeted marketing efforts and expansion strategies.

- Sales Conversion Rate: This KPI measures the percentage of leads or prospects that convert into paying customers. It helps evaluate the effectiveness of sales and marketing efforts, identify bottlenecks in the sales funnel, and optimize conversion strategies.

- Customer Lifetime Value (CLV): CLV represents the predicted revenue a customer will generate over their entire relationship with the business. It helps prioritize customer acquisition and retention strategies, identify high-value customers, and allocate resources effectively.

- Return on Investment (ROI): Calculating the ROI for marketing campaigns or sales initiatives helps evaluate their effectiveness and make data-driven decisions about resource allocation and budgeting.

These KPIs provide a comprehensive view of sales performance, customer behavior, and profitability. By analyzing these metrics, you can gain valuable insights to optimize sales strategies, identify growth opportunities, and make informed business decisions.

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  int64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  int64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
 6   Month             185950 non-null  int64
 7   Sales             185950 non-null  float64
 8   City              185950 non-null  object
 9   Hour              185950 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 14.2+ MB

In [39]:
df.describe()

,Order ID,Quantity Ordered,Price Each,Month,Sales,Hour
count,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000,185950.000000
mean,230417.569379,1.124383,184.399735,7.059140,185.490917,14.413305
std,51512.737110,0.442793,332.731330,3.502996,332.919771,5.423416
min,141234.000000,1.000000,2.990000,1.000000,2.990000,0.000000
25%,185831.250000,1.000000,11.950000,4.000000,11.950000,11.000000
50%,230367.500000,1.000000,14.950000,7.000000,14.950000,15.000000
75%,275035.750000,1.000000,150.000000,10.000000,150.000000,19.000000
max,319670.000000,9.000000,1700.000000,12.000000,3400.000000,23.000000

Total columns : 10

No of Numerical columns : 6

No of String columns : 4

In [47]:
df[df.duplicated()]

Empty DataFrame
Columns: [Order ID, Product, Quantity Ordered, Price Each, Order Date, Purchase Address, Month, Sales, City, Hour]
Index: []

In [46]:
df.duplicated().unique()

array([False])

In [45]:
df.shape

(185686, 10)

In [44]:
df.drop_duplicates(inplace=True)

In [48]:
df.isna().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Month               0
Sales               0
City                0
Hour                0
dtype: int64

In [49]:
df.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
Month               0
Sales               0
City                0
Hour                0
dtype: int64