In [61]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [62]:
df = pd.read_csv('PrepHR.csv')
df = df.drop(columns=['Unnamed: 0','StandardHours'])

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   object
 7   EducationField            1470 non-null   object
 8   EmployeeNumber            1470 non-null   int64
 9   EnvironmentSatisfaction   1470 non-null   int64
 10  Gender                    1470 non-null   object
 11  HourlyRate                1470 non-null   int64
 12  JobInvolvement            1470 non-null   int64
 13  JobLevel                  1470 non-null   int64
 14  JobRole                   1470 non-null   object
 15  JobSatisfaction           1470 non-null   int64
 16  MaritalStatus             1470 non-null   object
 17  MonthlyIncome             1470 non-null   int64
 18  MonthlyRate               1470 non-null   int64
 19  NumCompaniesWorked        1470 non-null   int64
 20  OverTime                  1470 non-null   object
 21  PercentSalaryHike         1470 non-null   int64
 22  PerformanceRating         1470 non-null   int64
 23  RelationshipSatisfaction  1470 non-null   int64
 24  StockOptionLevel          1470 non-null   int64
 25  TotalWorkingYears         1470 non-null   int64
 26  TrainingTimesLastYear     1470 non-null   int64
 27  WorkLifeBalance           1470 non-null   int64
 28  YearsAtCompany            1470 non-null   int64
 29  YearsInCurrentRole        1470 non-null   int64
 30  YearsSinceLastPromotion   1470 non-null   int64
 31  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(23), object(9)
memory usage: 367.6+ KB

In [64]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [65]:
df.BusinessTravel.unique()

array(['Travel_Rarely', 'Travel_Frequently', 'Non-Travel'], dtype=object)

In [66]:
num_col = df[['Age','DailyRate','EmployeeNumber','MonthlyIncome','MonthlyRate']]
num_col.head(5)

   Age  DailyRate  EmployeeNumber  MonthlyIncome  MonthlyRate
0   41       1102               1           5993        19479
1   49        279               2           5130        24907
2   37       1373               4           2090         2396
3   33       1392               5           2909        23159
4   27        591               7           3468        16632

In [67]:
cat_col = df[['Attrition','BusinessTravel','Department','JobSatisfaction','EducationField','Gender','JobLevel','JobRole','MaritalStatus','OverTime','DistanceFromHome','Education','EnvironmentSatisfaction','RelationshipSatisfaction','StockOptionLevel','JobInvolvement','WorkLifeBalance']]
cat_col.head(5)

,Attrition,BusinessTravel,Department,JobSatisfaction,EducationField,Gender,JobLevel,JobRole,MaritalStatus,OverTime,DistanceFromHome,Education,EnvironmentSatisfaction,RelationshipSatisfaction,StockOptionLevel,JobInvolvement,WorkLifeBalance
0,Yes,Travel_Rarely,Sales,4,Life Sciences,Female,2,Sales Executive,Single,Yes,1,Higher Secondary,2,1,0,3,1
1,No,Travel_Frequently,Research & Development,2,Life Sciences,Male,2,Research Scientist,Married,No,8,High School,3,4,1,2,3
2,Yes,Travel_Rarely,Research & Development,3,Other,Male,1,Laboratory Technician,Single,Yes,2,Higher Secondary,4,2,0,2,3
3,No,Travel_Frequently,Research & Development,3,Life Sciences,Female,1,Research Scientist,Married,Yes,3,Masters,4,3,0,3,3
4,No,Travel_Rarely,Research & Development,2,Medical,Male,1,Laboratory Technician,Married,No,2,High School,1,4,1,3,3

In [68]:
nlcat_col = df[['HourlyRate','NumCompaniesWorked','PercentSalaryHike','TotalWorkingYears','TrainingTimesLastYear','YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager']]
nlcat_col.head(5)

,HourlyRate,NumCompaniesWorked,PercentSalaryHike,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,94,8,11,8,0,6,4,0,5
1,61,1,23,10,3,10,7,1,7
2,92,6,15,7,3,0,0,0,0
3,56,1,11,8,3,8,7,3,0
4,40,9,12,6,3,2,2,2,2

In [69]:
df.RelationshipSatisfaction.unique()

array([1, 4, 2, 3])

In [70]:
mapping = {
    1: 'Poor',
    2: 'Good',
    3: 'Best',
    4: 'Excellent',
}

df["RelationshipSatisfaction"] = df["RelationshipSatisfaction"].map(mapping)

In [71]:
np.sort(df.DistanceFromHome.unique())

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [72]:
def dfromhome(n):
    if (n >= 1) & (n <= 10):
        return 'Near by'
    elif (n >= 10) & (n <= 20):
        return 'Far'
    elif (n >= 20) & (n <= 30):
        return 'Faraway'
    else:
        return 0
    
df['DistanceFromHome'] = df['DistanceFromHome'].apply(dfromhome)

In [73]:
df.EnvironmentSatisfaction.unique()

array([2, 3, 4, 1])

In [74]:
mapping = {
    1: 'Poor',
    2: 'Good',
    3: 'Best',
    4: 'Excellent',
}

df["EnvironmentSatisfaction"] = df["EnvironmentSatisfaction"].map(mapping)

In [75]:
df.JobInvolvement.unique()

array([3, 2, 4, 1])

In [76]:
mapping = {
    1 : 'Very Low',
    2: 'Low',
    3: 'Moderate',
    4: 'High',
}

df["JobInvolvement"] = df["JobInvolvement"].map(mapping)

In [77]:
df.JobLevel.unique()

array([2, 1, 3, 4, 5])

In [78]:
mapping = {
    1: 'Beginner',
    2: 'Intermediate',
    3: 'Experienced',
    4: 'Advanced',
    5: 'Expert'
}

df["JobLevel"] = df["JobLevel"].map(mapping)

In [79]:
df.StockOptionLevel.unique()

array([0, 1, 3, 2])

In [80]:
mapping = {
    0 : 'No',
    1: 'Low',
    2: 'Medium',
    3: 'High',
}

df["StockOptionLevel"] = df["StockOptionLevel"].map(mapping)

In [81]:
df.WorkLifeBalance.unique()

array([1, 3, 2, 4])

In [82]:
mapping = {
    1: 'Poor',
    2: 'Good',
    3: 'Best',
    4: 'Excellent',
}

df["WorkLifeBalance"] = df["WorkLifeBalance"].map(mapping)

In [83]:
df.JobSatisfaction.unique()

array([4, 2, 3, 1])

In [84]:

mapping = {
    1 : 'Poor',
    2 : 'Good',
    3 : 'Best',
    4 : 'Excellent',
}

df["JobSatisfaction"] = df["JobSatisfaction"].map(mapping)

In [85]:
pd.set_option('display.max_columns', None)
df.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,Near by,Higher Secondary,Life Sciences,1,Good,Female,94,Moderate,Intermediate,Sales Executive,Excellent,Single,5993,19479,8,Yes,11,3,Poor,No,8,0,Poor,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,Near by,High School,Life Sciences,2,Best,Male,61,Low,Intermediate,Research Scientist,Good,Married,5130,24907,1,No,23,4,Excellent,Low,10,3,Best,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,Near by,Higher Secondary,Other,4,Excellent,Male,92,Low,Beginner,Laboratory Technician,Best,Single,2090,2396,6,Yes,15,3,Good,No,7,3,Best,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,Near by,Masters,Life Sciences,5,Excellent,Female,56,Moderate,Beginner,Research Scientist,Best,Married,2909,23159,1,Yes,11,3,Best,No,8,3,Best,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,Near by,High School,Medical,7,Poor,Male,40,Moderate,Beginner,Laboratory Technician,Good,Married,3468,16632,9,No,12,3,Excellent,Low,6,3,Best,2,2,2,2

RelationshipSatisfaction    1470
StockOptionLevel             596
DistanceFromHome             208

In [86]:
df.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [87]:
df.sample(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,JobLevel,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
391,40,No,Travel_Rarely,555,Research & Development,Near by,Bacherlors,Medical,521,Good,Female,78,Low,Intermediate,Laboratory Technician,Best,Married,3448,13436,6,No,22,4,Good,Low,20,3,Best,1,0,0,0
1023,56,No,Travel_Rarely,1255,Research & Development,Near by,Higher Secondary,Life Sciences,1441,Poor,Female,90,Moderate,Beginner,Research Scientist,Poor,Married,2066,10494,2,No,22,4,Excellent,Low,5,3,Excellent,3,2,1,0
660,58,Yes,Travel_Frequently,781,Research & Development,Near by,High School,Life Sciences,918,Excellent,Male,57,Low,Beginner,Laboratory Technician,Excellent,Divorced,2380,13384,9,Yes,14,3,Excellent,Low,3,3,Good,1,0,0,0
538,41,No,Travel_Rarely,314,Human Resources,Near by,Bacherlors,Human Resources,734,Excellent,Male,59,Low,Expert,Manager,Best,Married,19189,19562,1,No,12,3,Good,Low,22,3,Best,22,7,2,10
1131,34,No,Travel_Frequently,653,Research & Development,Near by,Masters,Technical Degree,1597,Excellent,Male,92,Low,Intermediate,Healthcare Representative,Best,Married,5063,15332,1,No,14,3,Good,Low,8,3,Good,8,2,7,7