In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Sales.csv')

In [4]:
df.Month.unique()

array([12,  1,  4,  5,  2,  3,  8,  9,  6, 11, 10,  7], dtype=int64)

In [5]:


mapping = {
    1 : "January",
    2 : "February",
    3 : "March",
    4 : "April",
    5 : "May",
    6 : "June",
    7 : "July",
    8 : "August",
    9 : "September",
    10 : "October",
    11 : "November",
    12 : "December"

   
}

df["Month_expanded"] = df["Month"].map(mapping)

In [6]:
df['Order Date'] = pd.to_datetime(df['Order Date'])

In [7]:
df['day'] = df['Order Date'].dt.day

In [8]:
df['dow'] = df['Order Date'].dt.day_name()

In [9]:
columns_to_drop = ['Unnamed: 0', 'States']

df.drop(columns=columns_to_drop, inplace=True)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185686 entries, 0 to 185685
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185686 non-null  int64
 1   Product           185686 non-null  object
 2   Quantity Ordered  185686 non-null  int64
 3   Price Each        185686 non-null  float64
 4   Order Date        185686 non-null  datetime64[ns]
 5   Purchase Address  185686 non-null  object
 6   Month             185686 non-null  int64
 7   Sales             185686 non-null  float64
 8   City              185686 non-null  object
 9   Hour              185686 non-null  int64
 10  State-Expanded    185686 non-null  object
 11  Customer ID       185686 non-null  object
 12  Month_expanded    185686 non-null  object
 13  day               185686 non-null  int32
 14  dow               185686 non-null  object
dtypes: datetime64[ns](1), float64(2), int32(1), int64(4), object(7)
memory usage: 20.5+ MB

In [11]:
df.head(5
        )

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Sales,City,Hour,State-Expanded,Customer ID,Month_expanded,day,dow
0,295665,Macbook Pro Laptop,1,1700.00,2019-12-30 00:01:00,"136 Church St, New York City, NY 10001",12,1700.00,New York City,0,New York,cf744310,December,30,Monday
1,295666,LG Washing Machine,1,600.00,2019-12-29 07:03:00,"562 2nd St, New York City, NY 10001",12,600.00,New York City,7,New York,fac5fb32,December,29,Sunday
2,295667,USB-C Charging Cable,1,11.95,2019-12-12 18:21:00,"277 Main St, New York City, NY 10001",12,11.95,New York City,18,New York,c9be13ab,December,12,Thursday
3,295668,27in FHD Monitor,1,149.99,2019-12-22 15:13:00,"410 6th St, San Francisco, CA 94016",12,149.99,San Francisco,15,California,313fe0ca,December,22,Sunday
4,295669,USB-C Charging Cable,1,11.95,2019-12-18 12:38:00,"43 Hill St, Atlanta, GA 30301",12,11.95,Atlanta,12,Georgia,6fdda01b,December,18,Wednesday

In [12]:
df['Year'] = df['Order Date'].dt.year

In [14]:
df.Year.unique()

array([2019, 2020])

In [17]:
 df = df[df['Year'] != 2020]

In [20]:
df.to_csv('Final2.csv')